<form action="/create" method="post">
  <input type="text" name="name" placeholder="Name of Author">
  <br>
  <br>
  <input type="url" name="image" placeholder="Image">
  <br>
  <br>
  <br>
  <textarea name="blog" rows="8" cols="20" placeholder="Blog Text"></textarea>
  <br>
  <button type="submit" >Create</button>
</form>
<!-- create a get for form, added create view, post route inserting into db -->
