<form action="/{{post.id}}/edit" method="post">
  <input type="text" value="{{post.name}}" name="name" placeholder="Title of blog">
  <br>
  <br>
  <input type="text" value="{{post.blog}}" name="blog" placeholder="Description">
  <br>
  <br>
  <input type="url" value="{{post.image}}" name="image" placeholder="Image">
  <br>
  <br>
  <br>

  <button type="submit">Edit Post</button>
</form>
<!-- create a get for form, added create view, post route inserting into db -->
