<form action="/{{post.id}}/edit" method="post">
  <input type="text" value="{{post.name}}" name="name" placeholder="Name of Author">
  <br>
  <br>
  <input type="text" value="{{post.blog}}" name="blog" placeholder="Name of blog">
  <br>
  <br>
  <input type="url" value="{{post.image}}" name="image" placeholder="Image">
  <br>
  <br>
  <br>

  <!-- <textarea name="body" rows="8" cols="20" placeholder="Blog Body"></textarea> -->
  <button type="submit" >EDIT</button>
</form>
<!-- create a get for form, added create view, post route inserting into db -->
