<h1>Sports Photo Blog</h1>
{{#each post}}
<h2>{{this.blog}}</h2>

  <a href="/{{this.id}}"><img src="{{this.image}}" alt="" /></a>
    <h3>By: {{this.name}}</h3>
{{/each}}

<a href="/create">Add Photo to Blog</a>
