body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 72px;
  text-align: center;
}
input{
  width: 25%;
}
